/* Entry Meta */
.entry-meta {
	margin: 0.5em 0 0;
	padding: 0;
	color: #999;
	font-size: 14px;
	font-size: 0.875rem;
}

.entry-meta a:link,
.entry-meta a:visited {
	color: #999;
}

.entry-meta a:hover,
.entry-meta a:active {
	color: #666;
}

.entry-meta span::after {
	display: inline-block;
	margin: 0 0.5em;
	color: #999;
	content: '\2044';
	vertical-align: middle;
	font: normal 16px 'Genericons';
	-webkit-font-smoothing: antialiased;
}

.entry-meta span:last-child::after {
	display: none;
}

/* Entry Categories */
.entry-categories {
	margin: 0 0 1em;
}

.entry-categories .meta-categories {
	font-size: 14px;
	font-size: 0.875rem;
}

.entry-categories .meta-categories::before,
.entry-categories .meta-categories::after {
	display: table;
	content: "";
}

.entry-categories .meta-categories::after {
	clear: both;
}

.entry-categories .meta-categories a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0.4em 0.8em;
	background: #ee3333;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 0.875rem;
}

.entry-categories .meta-categories a:link,
.entry-categories .meta-categories a:visited {
	color: #fff;
}

.entry-categories .meta-categories a:hover,
.entry-categories .meta-categories a:active {
	background: #ddd;
	color: #303030;
}

/* Hide post meta if they are deactivated in settings */
body.date-hidden .type-post .entry-meta .meta-date,
body.author-hidden .type-post .entry-meta .meta-author,
body.date-hidden .post-slider .entry-meta .meta-date,
body.author-hidden .post-slider .entry-meta .meta-author {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

body.author-hidden .type-post .entry-meta .meta-date::after,
body.date-hidden.author-hidden .content-area .type-post .entry-meta,
body.author-hidden .post-slider .entry-meta .meta-date::after,
body.date-hidden.author-hidden .post-slider .entry-meta {
	display: none;
}

/* Entry Tags & Tagcloud Widget */
.entry-tags {
	margin: 0 0 1.5em;
}

.widget_tag_cloud .tagcloud,
.entry-tags .meta-tags {
	font-size: 14px;
	font-size: 0.875rem;
}

.widget_tag_cloud .tagcloud::before,
.widget_tag_cloud .tagcloud::after,
.entry-tags .meta-tags::before,
.entry-tags .meta-tags::after {
	display: table;
	content: "";
}

.widget_tag_cloud .tagcloud::after,
.entry-tags .meta-tags::after {
	clear: both;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0.2em 0.5em;
	background: #ddd;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px !important;
	font-size: 0.8125rem !important;
}

.widget_tag_cloud .tagcloud a:link,
.widget_tag_cloud .tagcloud a:visited,
.entry-tags .meta-tags a:link,
.entry-tags .meta-tags a:visited {
	color: #303030;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:active,
.entry-tags .meta-tags a:hover,
.entry-tags .meta-tags a:active {
	background: #ee3333;
	color: #fff;
}
