.footer-wrap {
	background: #303030;
}

.site-footer .site-info {
	float: left;
	padding: 3em;
	color: #fff;
}

.site-footer a:link,
.site-footer a:visited {
	color: #fff;
	text-decoration: underline;
}

.site-footer a:hover,
.site-footer a:active {
	text-decoration: none;
}
